# Virtual Environment
venv/
env/
.Python

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build & distribution
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Logs & environment files
*.log
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db